* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("lightgreen.jpg");
  background-color: #cee397;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  font-family: cursive;
  font-size: 250%;
  font-weight: 1000;
  font-style: italic;
  color:#587792;
  padding: 15px;
  width: 40vw;
  margin: auto;
  text-align: center;
}

.box {
  font-family: cursive;
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #CEE397;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 10;
  color: white;
  font-family: cursive;
  font-weight: 200%;
  background-color: #8DB1AB;
  padding: 10px;
  margin-top: 10px;
  border-radius: 1.0em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}
footer{
  border: 10px;
  padding: 15px;
  color: black;
  justify-content: center;
  text-align: center;
  bottom:0;
  left:0;
  background-color:#F2ED6F;
  position:fixed;
  width: 100%;
}

.btn-clear {
  position: absolute;
  top: 50%;
  color: white;
  font-family: cursive;
  background-color: #8DB1AB;
  padding: 10px;
  margin-top: 10px;
  border-radius: 1.0em;
}